.about-container {
  margin: 2rem auto;
  margin-left: 1rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-family:'Times New Roman', Times, serif;
  color: #141414;
}

.about-me h1{
  font-size: 3rem;
  font-weight: bold;
}

.about-me p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size:large;
}

.about-me-skills h2{
  font-size: 2rem;
  font-weight: bold;
}

.skills-list{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size:large;
}